:root {
  --primary: #2B2B2B;
  --secondary: #181818;
  --tertiary: #979595;
  --blue: #3C74DB;
  --green: #6BB645;
  --red: #DB4B3B;
  --yellow: #FACB00;
  --orange: #FFA14A;
  --purple: #833BDB;
  --brown: #885F4B;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.header {
  display: block;
  float: left;
  color: white;
  width: 100%;
  text-align: center;
  background-color: var(--secondary); /* For browsers that do not support gradients */
  background-image: linear-gradient(var(--secondary), black);
}
.header img {
  width: 300px;
  margin: 50px 0px 50px 0px;
}
.header h1 {
  font-size: 40px;
  font-weight: 100;
  margin: 0px 0px 20px 0px;
}
.header h1 span {
  color: var(--tertiary);
  font-weight: bold;
}

.content {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 80px;
}
.content .subHeader h2 {
  font-size: 50px;
  font-weight: 100;
  color: var(--primary);
  border-top: 2px solid var(--tertiary);
  border-bottom: 2px solid var(--tertiary);
}
.content .leftColumn, .content .rightColumn{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  display: block;
  float: left;
}

.content .leftColumn .row {
  width: 100%;
  margin: 0;
  display: block;
  float: left;
}
.content .leftColumn .row h2 {
  font-weight: 100;
  font-size: 45px;
  margin: 10px 0px 0px 0px;
  text-align: left;
  width: 230px;
  color: var(--secondary);
  margin-left: calc(50% - 115px);
}
.content .leftColumn .row i {
  font-size: 30px;
}

.content .leftColumn .row h2:hover {
  cursor: pointer;
  color: var(--tertiary);
}

.content .rightColumn h3 {
  display: block;
  float: left;
  color: white;
  background-color: var(--secondary);
  padding: 10px;
  margin: 15px 7px 0px 0px;
  border-radius: 5px;
  font-weight: 100;
}

#software {
  background-color: var(--blue);
}
#martial {
  background-color: var(--red);
}
#sports {
  background-color: var(--green);
}
#music {
  background-color: var(--yellow);
}
#music {
  background-color: var(--yellow);
}
#reading {
  background-color: var(--purple);
}
#gaming {
  background-color: var(--orange);
}
#coffee {
  background-color: var(--brown);
}

.footer {
  display: block;
  float: left;
  color: white;
  width: 100%;
  text-align: center;
  background-color: var(--primary);
  bottom: 0;
}
.footer h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 15px;
}
.footer h4 span {
  font-weight: 500;
  color: var(--tertiary);
}

@media only screen and (max-width: 750px) {
  .header img {
    width: 200px;
    margin: 40px 0px 40px 0px;
  }
  .header h1 {
    font-size: 20px;
  }
  .content .leftColumn, .content .rightColumn {
    margin-left: 5%;
    width: 90%;
  }
  .content .subheader h2 {
    width: 90%;
    margin-left: 5%;
  }
  .content .rightColumn h3 {
    padding: 10px;
    margin: 10px 0px 0px 5px;
    border-radius: 5px;
    font-weight: 100;
    font-size: 15px;
  }
}
