body {
  margin: 0;
}

.header {
  display: block;
  float: left;
  background-color: black;
  height: 30vh;
  width: 100vw;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: blue;
}
