body {
  margin: 0;
}

.header {
  display: block;
  float: left;
  background-color: #3A5199;
  color: white;
  height: 40%;
  width: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 100px;
  margin-bottom: 0px;
}
