body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.header, .footer {
  background-color: #1a1a1a;
}

.header {
  display: block;
  float: left;
  color: white;
  height: 30%;
  width: 100%;
  text-align: center;
}

.header h1 {
  margin-top: 20px;
  font-size: 100px;
  margin-bottom: 0px;
  font-family: 'Raleway', sans-serif;
}

.header h3 {
  font-size: 50px;
  margin: 0;
  color: #D5D6D2;
}

.content {
  display: block;
  float: left;
  background-color: white;
  color: black;
  height: 60%;
  width: 100%;
  text-align: center;
}

.content .row {
  width: 100%;
  height: 20%;
  display: block;
  float: left;
}

.row h2 {
  font-size: 50px;
  margin: 0;
  width:51%;
  display: block;
  float: left;
}

.row i {
  width: 10%;
  margin: 0;
  margin-top: 10px;
  font-size: 50px;
  display: block;
  float: left;
}

.footer {
  display: block;
  float: left;
  color: white;
  height: 10%;
  width: 100%;
  text-align: center;
}

.footer h4 {
  margin-top: 5px;
  margin-bottom: 0;
}

.fas.fa-file {
  color: #ffd11a;
}
.fab.fa-linkedin {
  color: #007acc;
}
.fab.fa-github {
  color: #ff471a;
}
.fas.fa-blog {
  color: #00cc66;
}
.fas.fa-paper-plane {
  color: #9933ff;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 25%;
  }
  .header h1 {
    font-size: 60px;
  }
  .header h3 {
    font-size: 40px;
  }
  .content {
    height: 65%;
  }
  .row h2 {
    margin-left: 20%;
  }
}
