:root {
  --main: #262626;
  --dark: #404040;
  --grey: #8E8E8E;
  --light: #d9d9d9;
  --purple: #323348;
  --soft: #C7B5E3;
  --vibrant: #9EA2FF;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: var(--main);
  font-family: 'Open Sans', sans-serif;
}
/*Resume*/
.resume {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 30px 0px;
  width: 800px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 20px 5px rgba(0,0,0,0.41);
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 20px 5px rgba(0,0,0,0.41);
}
/*Header*/
.resume__header {
  margin: 24px 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.resume__header_right {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.resume__header img {
  width: 124px;
  border-radius: 80px;
}
.resume__header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 80px;
  color: #d4dde1;
  margin: -16px 0 0 0;
}
.resume__header h2 {
  font-family: 'Montserrat', sans-serif;
  color: var(--soft);
  margin: -16px 0 0 4px;
  font-size: 22px;
}
.resume__header h2 span {
  color: var(--vibrant);
}

/*Body*/
.resume__content {
  margin: 0px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.resume__content__left {
  width: 57%;
}
.resume__content__right {
  width: 39%;
}

/*Section*/
.section {
  margin: 0 0 24px 0;
  color: white;
}
.section h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0 0 16px 0;
}
.section h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: var(--soft);
  margin: 0;
}
.section h4 span {
  color: var(--vibrant);
  font-size: 16px;
}
.section h5 {
  font-family: 'Montserrat', sans-serif;
  color: var(--soft);
  font-size: 14px;
  margin: 0;
}
.section h6 {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: var(--grey);
  margin: 4px 0 8px 0;
}
.section p {
 font-family: 'Open Sans', sans-serif;
 font-size: 13px;
 color: var(--light);
 margin: 16px 0;
}
.section .item, .section .item a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: var(--light);
  margin: 4px 0;
}
.section .item i {
  margin-right: 4px;
  width: 16px;
  text-align: center;
  color: var(--soft);
}

/*Bubbles*/
.bubbles {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.bubbles_bubble {
  margin: 3px 6px 3px 0px;
  border-radius: 2px;
  color: var(--light);
  background-color: var(--purple);
  padding: 4px 8px;
}

/*Footer*/
.resume__footer {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: var(--dark);
  padding: 10px 0px 10px 0px;
  margin: 0px 16px;
  border-top: 1px solid var(--dark);
}

/*Misc*/
img {
  width: 16px;
  filter: grayscale(100%);
}
a {
  text-decoration: none;
}

/*Mobile*/
@media only screen and (max-width: 1000px) {

  .resume {
    width: 100%;
    margin: 0;
  }
  .resume__header {
    margin: 24px 16px;
  }
  .resume__header h1 {
    font-size: 48px;
    margin: -16px 0 0 0;
  }
  .resume__header h2 {
    font-size: 12px;
    margin: -8px 0 0 2px;
  }
  .resume__header img {
    width: 64px;
  }
  .resume__content {
    flex-direction: column;
  }
  .resume__content__left, .resume__content__right {
    width: 100%;
  }
}
