
body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #2A1B3D; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #281b3d ,#44318D);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
}
.container_icon {
  color: #D83F87;
  font-size: 80px;
  margin: 16px;
}
.container_text {
  margin: 16px;
  font-size: 40px;
}


@media only screen and (max-width: 1024px) {
  .container_icon {
    font-size: 64px;
  }
  .container_text {
    font-size: 24px;
  }
}
